@media (max-width: 1200px){
    . .articles {
        display: flex;
        flex-direction: none; /* Зміна напрямку флекс-контейнера на горизонтальний */
        flex-wrap: nowrap; /* Забороняє переносити елементи на новий рядок */
        justify-content: center; /* Вирівнювання елементів по центру */
    }
    .article {
        width: 100%; /* Ширина на всю ширину контейнера */
        max-width: 600px; /* Максимальна ширина для обмеження розміру */
        height: auto; /* Автоматична висота для утримання тексту */
        padding: 20px; /* Додаємо відступи для утримання тексту */
        box-sizing: border-box; /* Включення відступів у загальну ширину */
    }
}