*{
    margin: 0;
}
h1{
    font-size: 170px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

    .black {
        background-color: #000000; }
    .red {
        background-color: #FF0000;
    }
    .green {
        background-color: #00FF00;
    }
    .blue {
        background-color: #0000FF;
    }
    .fuchsia {
        background-color: #FF00FF;
    }
    .white {
        background-color: #FFFFFF;
        color: #000000;
    }
    .yellow {
        background-color: #FFFF00;
        color: #000000;
    }
    .purple {
        background-color: #800080;
    }
    .maroon {
        background-color: #800000;
    }
    .olive {
        background-color: #808000;
    }

